---
- name: Add static routes
  hosts: gaia
  gather_facts: false

  vars:
    static_routes:
      - destination: "172.31.128.0"
        mask: 21
        next_hop: "172.31.128.1"
        interface: "eth1"

  tasks:
    - name: Add Static Routes (Gaia)
      check_point.gaia.cp_gaia_static_route:
        address: "{{ item.destination }}"
        mask_length: "{{ item.mask }}"
        type: gateway
        next_hop: [{"gateway": "{{ item.next_hop }}", "priority": 1}]
        state: present
      loop: "{{ static_routes }}"
      register: routes
      notify: Gaia Save Config

    - name: Display result
      ansible.builtin.debug:
        var: routes

  handlers:
    - name: Gaia Save Config
      check_point.gaia.cp_gaia_run_script:
        script: "save config"
